{% if items|length == 0 %}
	No items found.
{% else %}
	<table class="table table-bordered table-striped table-condensed">
		<thead>
			<tr>
				<th>Name</th>
				<th class="hidden-xs">Address</th>
				<th>Groups</th>
			</tr>
		</thead>
		<tbody>
		{% for entity in items %}
			{% set link = path('devture_nagios.host.edit', {'id': entity.id}) %}
			<tr>
				<td>
					<a href="{{ link }}" class="display-block">
						{{ entity.name }}
					</a>
				</td>
				<td class="hidden-xs">
					<a href="{{ link }}" class="display-block">
						<img src="//www.google.com/s2/favicons?domain={{ entity.address }}" alt="" />
						{{ entity.address }}
					</a>
				</td>
				<td>
				{% for group in entity.groups %}
					<span class="label label-nagadmin label-info"
						style="background-color: {{ group|devture_nagios_colorize }};">{{ group }}</span>
				{% endfor %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}
