{% if items|length == 0 %}
	No items found.
{% else %}
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Groups</th>
			</tr>
		</thead>
		<tbody>
		{% for entity in items %}
			{% set link = path('devture_nagios.host.edit', {'id': entity.id}) %}
			<tr>
				<td>
					<a href="{{ link }}" class="display-block">
						{{ entity.name }}
					</a>
				</td>
				<td>
					<a href="{{ link }}" class="display-block">
						{{ entity.address }}
					</a>
				</td>
				<td>
				{% for group in entity.groups %}
					<span class="label label-nagadmin label-info"
						style="background-color: {{ group|colorize }};">{{ group }}</span>
				{% endfor %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}