{% extends '@DevtureNagios/nagios_layout.html.twig' %}

{% import '@DevtureNagios/macros.html.twig' as macros %}

{% block title %}{{ isAdded ? 'Edit contact: ' ~ entity.name : 'Add contact' }} / {{ parent() }}{% endblock %}

{% macro render_command_picker(field_name, commands, selected_command) %}
	<select name="{{ field_name }}" id="{{ field_name }}" class="form-select js-command-chooser" required="required">
		<option value="">-- Pick one --</option>
	{% for command in commands %}
		<option value="{{ command.id }}"
			data-command-line="{{ command.line }}"
			{{ selected_command is not none and selected_command.id == command.id ? 'selected="selected"' : '' }}
			>{{ command.title }}</option>
	{% endfor %}
	</select>
	<div class="js-command-preview top-spaced-minor d-none"><pre></pre></div>
{% endmacro %}

{% block devture_nagios_content %}
	{{ render_form_violations(form, '__other__') }}

	<form name="record-form" id="record-form" method="post" action="">
		{{ render_form_csrf_token(form) }}

		<fieldset>
			<div class="row mb-3">
				<label class="col-lg-2 col-form-label">Identifier</label>
				<div class="col-lg-10">
					<input type="text" name="name" id="name"
						class="form-control"
						required="required"
						value="{{ entity.name }}" />
					{{ render_form_violations(form, 'name') }}
				</div>
			</div>

			{% if is_granted('ROLE_CONFIGURATION_MANAGEMENT') %}
				<div class="row mb-3">
					<label class="col-lg-2 col-form-label">Associated with</label>
					<div class="col-lg-10">
						{% set selected_user = entity.user %}
						<select name="userId" class="form-select">
							<option value="">-- Choose one or leave empty --</option>
						{% for user in users %}
							<option value="{{ user.id }}"
								{{ selected_user == user ? 'selected="selected"' : '' }}
								>{{ user.name }} ({{ user.username }})</option>
						{% endfor %}
						</select>
					</div>
				</div>
			{% endif %}

			<div class="row mb-3">
				<label class="col-lg-2 col-form-label"><i class="fa-solid fa-envelope"></i> Email</label>
				<div class="col-lg-10">
					<input type="text" name="email" id="email"
						class="form-control"
						value="{{ entity.email }}" />
					<span class="form-text">(ends up in the $CONTACTEMAIL$ macro)</span>
					{{ render_form_violations(form, 'email') }}
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-lg-2 col-form-label">Avatar</label>
				<div class="col-lg-10">
					{% if isAdded %}
						{{ reactjs_render_component('ContactAvatar', {'entity': entity|contact_api_model_export, 'size': 48}) }}
					{% endif %}
					Contacts get their own <a target="_blank" href="http://gravatar.com/">Gravatar</a> based on their email address or other address values.
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-lg-2 col-form-label">Addresses</label>
				<div class="col-lg-10">
					<p class="form-text">
						You can enter some additional address values
						if notification commands require them.
					</p>
					<fieldset class="top-spaced-minor">
					{% for _ in range(0, addressSlotsCount - 1) %}
						{% set slot = loop.index %}
						{% set address = entity.getAddressBySlot(slot) %}
						<div class="row mb-3 {{ loop.last ? 'last' : '' }}">
							<label class="col-lg-3 col-form-label">Address {{ slot }}</label>
							<div class="col-lg-9">
								<input type="text" name="addresses[{{ slot }}]"
									value="{{ address }}" class="form-control" />
								<span class="form-text">(ends up in the $CONTACTADDRESS{{ slot }}$ macro)</span>
							</div>
						</div>
					{% endfor %}
					</fieldset>
					{{ render_form_violations(form, 'addresses') }}
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-lg-2 col-form-label"><i class="fa-solid fa-share"></i> Notifications</label>
				<div class="col-lg-10">
					<fieldset>
						<div class="row mb-3">
							<label class="col-lg-2 col-form-label"><i class="fa-solid fa-gear"></i> Command</label>
							<div class="col-lg-8">
								{{ _self.render_command_picker('serviceNotificationCommandId', notificationCommands, entity.serviceNotificationCommand) }}
								{{ render_form_violations(form, 'serviceNotificationCommand') }}
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-lg-2 col-form-label"><i class="fa-solid fa-clock"></i> Period</label>
							<div class="col-lg-8">
								{% set selected_period = entity.timePeriod %}
								<select name="timePeriodId" id="timePeriodId" class="form-select" required="required">
								{% for time_period in timePeriods %}
									<option value="{{ time_period.id }}"
										{{ selected_period is not none and selected_period.id == time_period.id ? 'selected="selected"' : '' }}
										>{{ time_period.title }}</option>
								{% endfor %}
								</select>

								{% for time_period in timePeriods %}
								<div class="js-time-period-preview d-none" data-id="{{ time_period.id }}">
									<div class="top-spaced-minor"></div>
									{% include '@DevtureNagios/time_period/rules_table.html.twig' with {'rules': time_period.rules} %}
								</div>
								{% endfor %}
								{{ render_form_violations(form, 'timePeriod') }}
							</div>
						</div>
					</fieldset>
				</div>
			</div>

			<div class="d-flex justify-content-between align-items-center">
				<button type="submit" class="btn btn-lg btn-primary">
					Save
				</button>

				{% if isAdded %}
				<button class="btn btn-outline-danger btn-sm" id="form-delete-btn">
					Delete
				</button>
				{% endif %}
			</div>
		</fieldset>
	</form>
{% endblock %}

{% block js %}
	{{ parent() }}

	{% if isAdded %}
	$('#form-delete-btn').click('click', function () {
		if (confirm('Are you sure you want to delete this?')) {
			$.ajax({
				"url": {{ path('devture_nagios.contact.delete', {'id': entity.id, 'token': csrf_token('delete-contact-' ~ entity.id)})|json_encode|raw }},
				"type": "POST",
				"dataType": "json",
				"success": function (response) {
					if (response.ok) {
						window.location = {{ path('devture_nagios.contact.manage')|json_encode|raw }};
					} else {
						alert("There was a problem. Refresh and retry.");
					}
				}
			});
		}
		return false;
	});
	{% endif %}

	$('#timePeriodId').change(function () {
		var selectedTimePeriodId = $(this).val();
		$('.js-time-period-preview').addClass('d-none');
		$.each($('.js-time-period-preview'), function () {
			if ($(this).data('id') == selectedTimePeriodId) {
				$(this).removeClass('d-none');
				return false;
			}
		});
	}).trigger('change');

	$('.js-command-chooser').change(function () {
		var $previewContainer = $(this).parent().find('.js-command-preview');
		if ($(this).val() === '') {
			$previewContainer.addClass('d-none');
		} else {
			$previewContainer.find('pre').text($(this).find('option').filter(':selected').data('command-line'));
			$previewContainer.removeClass('d-none');
		}
	}).trigger('change');
{% endblock %}
