{% macro service_label_class_from_state(state) %}
{% spaceless %}
	{% set map = {'ok': 'label-success', 'warning': 'label-warning', 'critical': 'label-danger', 'unknown': ''} %}
	{{ map[state] }}
{% endspaceless %}
{% endmacro %}

{% macro service_status(status) %}
	{% if status is none %}
		<div class="text-center label" style="display: block;">
			missing
		</div>
	{% else %}
		{% if status.checked %}
			<div class="text-center label {{ _self.service_label_class_from_state(status.currentStateHuman) }}"
				style="display: block;">
			{% if status.currentState != status.lastHardState %}
				&raquo;
				{{ status.currentStateHuman }}
				({{ status.currentAttempt }}/{{ status.maxAttempts }})
			{% else %}
				{{ status.currentStateHuman }}
			{% endif %}
			</div>
		{% else %}
			<div class="text-center label" style="display: block;">
				pending
			</div>
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro relative_time(timestamp) %}
{% spaceless %}
	<time class="js-relative-time" data-time="{{ timestamp * 1000 }}">
		{{ timestamp|date('d F, Y') }}
	</time>
{% endspaceless %}
{% endmacro %}
