{% macro service_label_class_from_state(state) %}
{% spaceless %}
	{% set map = {'ok': 'label-success', 'warning': 'label-warning', 'critical': 'label-important'} %}
	{{ map[state] }}
{% endspaceless %}
{% endmacro %}

{% macro service_status(status) %}
	{% if status is none %}
		<div class="text-center label" style="display: block;">
			missing
		</div>
	{% else %}
		{% if status.checked %}
			<div class="js-tooltip text-center label {{ _self.service_label_class_from_state(status.currentStateHuman) }}"
				style="display: block;"
				title="{{ status.pluginOutput }}">
			{% if status.currentState != status.lastHardState %}
				&raquo;
				{{ status.currentStateHuman }}
				({{ status.currentAttempt }}/{{ status.maxAttempts }})
			{% else %}
				{{ status.currentStateHuman }}
			{% endif %}
			</div>
		{% else %}
			<div class="text-center label" style="display: block;">
				pending
			</div>
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro contact_badge(contact, size) %}
	<img
		src="{{ contact|devture_nagios_contact_avatar_url(size) }}"
		alt="{{ contact.name }}"
		class="js-tooltip img-rounded"
		style="border: 3px solid {{ contact.name|devture_nagios_colorize }};"
		title="{{ contact.name }}" />
{% endmacro %}

{% macro relative_time(timestamp) %}
	<time class="js-relative-time" data-time="{{ timestamp|date('c') }}">
		{{ timestamp|date('d F, Y') }}
	</time>
{% endmacro %}