<fieldset class="compact">
	<div class="control-group">
		<label class="control-label">Argument</label>
		<div class="controls">
			$ARG{{ ident }}$
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Description</label>
		<div class="controls">
			<input type="text" name="arguments[{{ ident }}][description]"
				value="{{ entity is not none ? entity.description : '' }}"
				class="input-xxlarge" />
		</div>
	</div>
	<div class="control-group last">
		<label class="control-label">Default</label>
		<div class="controls">
			<input type="text" name="arguments[{{ ident }}][defaultValue]"
				value="{{ entity is not none ? entity.defaultValue : '' }}"
				class="input-xxlarge" />
		</div>
	</div>
	<div class="top-spaced-minor"></div>
</fieldset>