{% extends 'DevtureNagiosBundle/layout.html.twig' %}

{% block devture_nagios_content %}
	{{ render_form_violations(form, '__other__') }}

	<form name="record-form" id="record-form" class="form-horizontal" method="post" action="">
		{{ form_csrf_token(form) }}

		<fieldset>
			<div class="control-group">
				<label class="control-label">Type</label>
				<div class="controls">
					<select name="type" id="type">
						<option
							value="serviceCheck" {{ entity.type == 'serviceCheck' ? 'selected="selected"' : '' }}
							data-has-arguments="1">Check</option>
						<option value="serviceNotification"
							{{ entity.type == 'serviceNotification' ? 'selected="selected"' : '' }}
							data-has-arguments="0">Notification</option>
					</select>
					{{ render_form_violations(form, 'type') }}
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Identifier</label>
				<div class="controls">
					<input type="text" name="name" id="name"
						class="input-xlarge"
						required="required"
						value="{{ entity.name }}" />
					{{ render_form_violations(form, 'name') }}
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Title</label>
				<div class="controls">
					<input type="text" name="title" id="title"
						class="input-xlarge"
						required="required"
						value="{{ entity.title }}" />
					{{ render_form_violations(form, 'title') }}
				</div>
			</div>

			<div class="control-group">
				<label class="control-label"><i class="icon-cog"></i> Command</label>
				<div class="controls">
					<textarea name="line" id="line"
						required="required"
						style="width: 750px;"
						>{{ entity.line }}</textarea>
					<p class="help-block">
						The command can contain
						<a href="http://nagios.sourceforge.net/docs/3_0/macros.html" target="_blank">macros</a>.
						Often used ones are argument macros (from $ARG1$ up to $ARG32$),
						but there are
						<a href="http://nagios.sourceforge.net/docs/3_0/macrolist.html" target="_blank">many more</a>.
					</p>
					{{ render_form_violations(form, 'line') }}
				</div>
			</div>

			<div class="control-group hide" id="js-control-group-arguments">
				<label class="control-label"><i class="icon-wrench"></i> Arguments</label>
				<div class="controls">
					{% for parameter in entity.arguments %}
					<div class="js-parameter-definition" data-number="{{ loop.index }}">
						{% include 'DevtureNagiosBundle/command/argument.html.twig' with {'entity': parameter, 'ident': loop.index} %}
					</div>
					{% endfor %}

					{% for i in range(entity.arguments|length + 1, 32) %}
					<div class="js-parameter-definition" data-number="{{ i }}">
						{% include 'DevtureNagiosBundle/command/argument.html.twig' with {'entity': none, 'ident': i} %}
					</div>
					{% endfor %}
					{{ render_form_violations(form, 'arguments') }}
				</div>
			</div>

			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					Save
				</button>

				{% if isAdded %}
				<button class="btn btn-danger" style="margin-left: 50px;" id="form-delete-btn">
					Delete
				</button>
				{% endif %}
			</div>
		</fieldset>
	</form>
{% endblock %}

{% block js %}
	{{ parent() }}

	{% if isAdded %}
	$('#form-delete-btn').bind('click', function () {
		if (confirm('Are you sure you want to delete this?')) {
			$.ajax({
				"url": {{ path('devture_nagios.command.delete', {'id': entity.id, 'token': csrf_token('delete-command-' ~ entity.id)})|json_encode|raw }},
				"type": "POST",
				"dataType": "json",
				"success": function (response) {
					if (response.ok) {
						window.location = {{ path('devture_nagios.command.manage')|json_encode|raw }};
					} else {
						alert("There was a problem. Refresh and retry.");
					}
				}
			});
		}
		return false;
	});
	{% endif %}

	(function () {
		var refreshArgumentsUI = function () {
			var regex =/\$ARG([0-9]+)\$/g,
				maxArgumentNumber = 0,
				match = null,
				string = $('#line').val();
			while (match = regex.exec(string)) {
				var currentArgumentNumber = parseInt(match[1], 10);
				if (currentArgumentNumber > maxArgumentNumber) {
					maxArgumentNumber = currentArgumentNumber;
				}
			}

			if ($('#type option:selected').data('has-arguments') == 0) {
				$('#js-control-group-arguments').hide();
			} else {
				$('.js-parameter-definition').hide();

				var hasVisible = false;
				$.each($('.js-parameter-definition'), function () {
					if ($(this).data('number') <= maxArgumentNumber) {
						$(this).show();
						hasVisible = true;
					}
				});

				if (hasVisible) {
					$('#js-control-group-arguments').show();
				} else {
					$('#js-control-group-arguments').hide();
				}
			}
		};

		$('#line').on('change keyup', refreshArgumentsUI);
		$('#type').change(refreshArgumentsUI);

		refreshArgumentsUI();
	})();
{% endblock %}