{% extends '@DevtureUserBundle/DevtureUserBundle/record.html.twig' %}

{% block devture_nagios_user_row_groups %}
<div class="form-group row">
	<label class="col-lg-2 control-label">Visible Groups</label>
	<div class="col-lg-6">
		<select name="groups[]"
			multiple="multiple" class="js-chosen-select"
			data-placeholder="Choose some groups.."
			style="width: 100%;">
		{% for group in devture_nagios_get_distinct_groups(entity) %}
			<option value="{{ group }}"
				{{ group in entity.groups ? 'selected="selected"' : '' }}>{{ group }}</option>
		{% endfor %}
		</select>

		<p class="help-block">
			The user will be able to see (but not edit) hosts belonging to these groups.
			<br />
			Only matters if you <strong>haven't</strong> granted the <strong>Overseer</strong> or <strong>Management</strong> privileges (below).
		</p>

		{{ render_form_violations(form, 'groups') }}
	</div>
</div>
{% endblock %}

{% block devture_user_row_roles %}
	{{ block('devture_nagios_user_row_groups') }}

	{{ parent() }}
{% endblock %}