{% extends 'DevtureNagiosBundle/layout.html.twig' %}

{% block devture_nagios_content %}
	<div>
		<fieldset>
			<div class="form-group row">
				<label class="col-lg-2 control-label">Check Status</label>
				<div class="col-lg-10">
					<div class="alert alert-{{ isValid ? 'success' : 'danger' }}">
						{% if isValid %}
							<i class="glyphicon glyphicon-thumbs-up"></i>
							The configuration was checked and seems safe to deploy.
						{% else %}
							<i class="glyphicon glyphicon-thumbs-down"></i>
							The configuration was checked and seems broken.
						{% endif %}
					</div>
					{% if isValid %}
						<form name="deploy" method="post" action="{{ path('devture_nagios.configuration.deploy') }}"
							id="js-deployment-form"
							class="text-center">
							<input type="hidden" name="token" value="{{ csrf_token('deploy') }}" />
							Changes are automatically deployed. You don't have to, but you can also
							<button type="submit" class="btn btn-link btn-large" id="js-deployment-button-submit">
								<i class="glyphicon glyphicon-retweet glyphicon glyphicon-white"></i>
								deploy manually now
							</button>
						</form>
						<div id="js-deployment-progress" class="hide">
							<div class="progress progress-info progress-striped active">
								<div class="bar" style="width: 100%"></div>
							</div>
						</div>
						<div id="js-deployment-result" class="top-spaced-minor"></div>
					{% endif %}
				</div>
			</div>
			<div class="form-group row">
				<label class="col-lg-2 control-label">Check Output</label>
				<div class="col-lg-10">
					<pre style="max-height: 300px; overflow-y: auto;">{{ checkOutput }}</pre>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-lg-2 control-label">Configuration</label>
				<div class="col-lg-10">
					{% for file in files %}
						<strong>{{ file.path }}</strong>
						<pre class="top-spaced-minor" style="max-height: 300px; overflow-y: auto;">{{ file.configuration }}</pre>
						{% if not loop.last %}<hr />{% endif %}
					{% endfor %}
				</div>
			</div>
		</fieldset>
	</div>
{% endblock %}

{% block js %}
	$('#js-deployment-form').submit(function (ev) {
		ev.preventDefault();

		$('#js-deployment-button-submit').attr('disabled', true);
		$('#js-deployment-progress').show();
		$('#js-deployment-result').hide();

		$.ajax({
			"url": {{ path('devture_nagios.configuration.deploy')|json_encode|raw }},
			"data": $(this).serialize(),
			"type": "POST",
			"dataType": "html"
		}).done(function (response) {
			$('#js-deployment-result').html(response);
		}).fail(function () {
			$('#js-deployment-result').html('<div class="alert alert-error">Deployment failed. Reload the page and try again.</div>');
		}).always(function () {
			$('#js-deployment-progress').hide();
			$('#js-deployment-result').show();
			$('#js-deployment-button-submit').attr('disabled', false);
		});
	});
{% endblock %}
