{% if items|length == 0 %}
	No items found.
{% else %}
	<table class="table table-bordered table-striped table-condensed">
		<thead>
			<tr>
				<th>Name</th>
				<th class="d-none d-sm-table-cell">Address</th>
				<th>Groups</th>
				<th>Services</th>
			</tr>
		</thead>
		<tbody>
		{% for entity in items %}
			{% set link = path('devture_nagios.host.view', {'id': entity.id}) %}
			{% set services_count = devture_nagios_count_host_services(entity) %}
			<tr>
				<td>
					<a href="{{ link }}" class="d-block">
						{{ entity.name }}
					</a>
				</td>
				<td class="d-none d-sm-table-cell">
					<a href="{{ link }}" class="d-block">
						<img src="//www.google.com/s2/favicons?domain={{ entity.address }}" alt="" />
						{{ entity.address }}
					</a>
				</td>
				<td>
				{% for group in entity.groups %}
					<span class="badge label-nagadmin"
						style="background-color: {{ group|devture_nagios_colorize }};">{{ group }}</span>
				{% endfor %}
				</td>
				<td>
					<a href="{{ link }}" class="d-block">
						{{ services_count }} services
					</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}
