<!doctype html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<title>{{ app.config.project_name }} / nagadmin</title>
	<link type="text/css" rel="stylesheet" href="{{ static_url('/css/bootstrap.min.css') }}" />
	<link type="text/css" rel="stylesheet" href="{{ static_url('/css/style.css') }}" />
	{% endblock %}
</head>
<body>

{% if is_logged_in() %}
	{% set info_status = devture_nagios_get_info_status() %}
	{% set program_status = devture_nagios_get_program_status() %}
{% endif %}

<nav class="navbar navbar-default navbar-nagadmin" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{ path('devture_nagios.dashboard') }}">
			{{ app.config.project_name }}
		</a>
	</div>

	{% if is_logged_in() %}
	<div class="navbar-header navbar-right navbar-text hidden-xs">
		{% if program_status is none or info_status is none %}
			<span class="label label-danger">Nagios DOWN</span>
		{% else %}
			{% if info_status.appearsOutdated %}
				<span class="label label-danger">Nagios {{ info_status.currentVersion }} DOWN?</span>
			{% else %}
				<span class="js-tooltip"
					data-placement="left"
					title="PID: {{ program_status.pid }}. Up since: {{ program_status.startTime|date('c') }}"
					>Nagios {{ info_status.currentVersion }}</span>
			{% endif %}
		{% endif %}
	</div>
	{% endif %}

	<div class="collapse navbar-collapse" id="navbar-collapse">
		{% include "menu_bar.html.twig" %}

		{% if is_logged_in() %}
		<div class="navbar-text visible-xs">
			{% if program_status is none or info_status is none %}
				<span class="label label-danger">Nagios DOWN</span>
			{% else %}
				{% if info_status.appearsOutdated %}
					<span class="label label-danger">Nagios {{ info_status.currentVersion }} DOWN?</span>
				{% else %}
					<span class="text-muted">Powered by Nagios {{ info_status.currentVersion }}.</span>
				{% endif %}
			{% endif %}
		</div>
		{% endif %}
	</div>
</nav>

<div id="content" class="container">
	{% block content %}{% endblock %}
</div>

<div id="footer" class="container clearfix">
	<hr />

	<div class="clearfix">
		<div class="pull-left">
			&copy; {{ none|date('Y') }}
			<a href="http://devture.com/" target="_blank" title="Devture Ltd - developing your future">Devture Ltd</a>.
		</div>
	</div>
</div>

<script type="text/javascript" src="{{ static_url('/js/jquery-2.1.0.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('/js/comploader/comploader.js') }}"></script>
<script type="text/javascript" src="{{ static_url('/js/jquery.relative-time.js') }}"></script>

<script type="text/javascript">
	{% include 'comploader_components.js.twig' %}
</script>

<script type="text/javascript">
{% block js %}
	$('.js-tooltip').tooltip();

	$(function () {
		var $chosenSelects = $('.js-chosen-select');
		if ($chosenSelects.length > 0) {
			comploader.load("chosen", function () {
				$chosenSelects.chosen();
			});
		}

		$('.js-relative-time').relativeTime().tooltip();

		var $textareas = $('textarea');
		if ($textareas.length > 0) {
			comploader.load("jquery.autoresize", function () {
				$textareas.autoResize({"extraSpace": 10});
			});
		}
	});

	(function () {
		var isTouchDevice = function () {
			try {
				document.createEvent("TouchEvent");
				return true;
			} catch (e) {
				return false;
			}
		};

		if (isTouchDevice()) {
			comploader.load('fastclick', function () {
				FastClick.attach(document.body);
			});
		}
	})();

	(function () {
		var lazyNgAppLoad = function () {
			$('[ng-app-lazy]').each(function () {
				var $appRoot = $(this),
					appName = $appRoot.attr('ng-app-lazy');

				if ($appRoot.data('bootstrapped')) {
					return;
				}
				$appRoot.data('bootstrapped', true);

				comploader.load(appName, function () {
					angular.bootstrap($appRoot, [appName]);
				});
			});
		};

		$(lazyNgAppLoad);
	})();
{% endblock %}
</script>

</body>
</html>
