<!doctype html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="utf-8" />
	<title>{{ get_project_name() }}</title>
	<link type="text/css" rel="stylesheet" href="{{ static_url('/css/bootstrap.min.css') }}" />
	<link type="text/css" rel="stylesheet" href="{{ static_url('/css/style.css') }}" />
	<link type="text/css" rel="stylesheet" href="{{ static_url('/js/chosen/chosen.css') }}" />
	{% endblock %}
</head>
<body>

<div id="wrapper">
	<div class="site-navbar">
		<div class="site-navbar-inner">
			<div class="clearfix">
				<a class="brand" href="{{ path('homepage') }}">
					{{ get_project_name() }}
				</a>
			</div>
			<div style="clear: both; border-top: 1px solid #ededed;"></div>
			{% include "menu_bar.html.twig" %}
		</div>
	</div>

	<div id="content">
		{% block content %}{% endblock %}
	</div>

	<div id="footer" class="clearfix">
		<hr />

		<div class="pull-left">
			&copy; 2012{{ ""|date('Y') != 2012 ? '-' ~ ""|date('Y') : '' }}
			<a href="http://devture.com/" target="_blank" title="Devture Ltd - developing your future">Devture Ltd</a>.
		</div>
	</div>
</div>

<script type="text/javascript" src="{{ static_url('/js/jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('/js/jquery.autoresize.js') }}"></script>
<script type="text/javascript" src="{{ static_url('/js/chosen/chosen.jquery.min.js') }}"></script>

<script type="text/javascript">
{% block js %}
	$.each($('input, textarea'), function () {
		if (!$(this).hasClass('js-skip-autoresize')) {
			$(this).autoResize({"extraSpace": 20});
		}
	});
	$('.js-chosen-select').chosen();
{% endblock %}
</script>

</body>
</html>