{% extends 'DevtureNagiosBundle/layout.html.twig' %}

{% block devture_nagios_content %}
	<form method="get" name="hostFilter" action="{{ path('devture_nagios.service.manage') }}">
		<select class="js-chosen-select" id="js-host-filter-select" name="hostId">
			<option value="">-- All hosts --</option>
			{% for host in hosts %}
			<option value="{{ host.id }}"
				{{ selectedHost is not none and selectedHost == host ? 'selected="selected"' : '' }}
				>{{ host.name }}</option>
			{% endfor %}
		</select>
	</form>

	<div class="top-spaced-minor"></div>

	{% for item in items %}
		<div class="clearfix">
			<div class="pull-right">
				{% include 'DevtureNagiosBundle/service/add_new_picker.html.twig' with {'commands': commands, 'selectedHost': item.host} %}
			</div>
			<a href="{{ path('devture_nagios.host.edit', {'id': item.host.id}) }}">
				<h3 style="margin: 0; padding: 0;">{{ item.host.name }}</h3>
			</a>
		</div>
		{% include 'DevtureNagiosBundle/service/list.html.twig' with {'items': item.services} %}
	{% endfor %}
{% endblock %}

{% block js %}
	{{ parent() }}

	$('#js-host-filter-select').change(function () {
		$(this).closest('form').submit();
	});
{% endblock %}