{% import 'DevtureNagiosBundle/macros.html.twig' as macros %}

{% if items|length == 0 %}
	No services found.
{% else %}
	<table class="table table-bordered table-striped table-condensed">
		<thead>
			<tr>
				<th style="width: 50px;"></th>
				<th><i class="icon-th-large"></i> Host</th>
				<th><i class="icon-signal"></i> Service</th>
				<th>Checked</th>
				<th>Status</th>
				<th><i class="icon-user"></i> Users to Notify</th>
			</tr>
		</thead>
		<tbody>
		{% for entity in items %}
			{% set link = path('devture_nagios.service.view', {'id': entity.id, 'next': app.request.uri}) %}
			{% set status = devture_nagios_get_service_status(entity) %}

			<tr class="{{ entity.enabled ? '' : 'warning' }}">
				<td>
					{{ macros.service_status(status) }}
				</td>
				<td style="width: 130px;">
					{{ entity.host.name }}
				</td>
				<td style="width: 230px;">
					<a href="{{ link }}" class="display-block">
						{{ entity.name }}

						{% if not entity.enabled %}
						<strong>(disabled)</strong>
						{% endif %}
					</a>
				</td>
				<td nowrap="nowrap">
					<span class="help-inline">
					{% if status is none %}
						-
					{% else %}
						{% if status.lastCheckTime == 0 %}
							Never
						{% else %}
							{{ macros.relative_time(status.lastCheckTime) }} ago
						{% endif %}
					{% endif %}
					</span>
				</td>
				<td>
					{{ status is none ? '-- There is no information about this service --' : status.pluginOutput }}
				</td>
				<td>
				{% for contact in entity.contacts %}
					{{ macros.contact_badge(contact, 24) }}
				{% endfor %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}
