{% extends 'DevtureNagiosBundle/layout.html.twig' %}

{% block devture_nagios_content %}
	{% if isAdded %}
		{% include 'DevtureNagiosBundle/service/toolbar.html.twig' with {'entity': entity, 'currentSection': 'edit'} only %}
	{% endif %}

	{{ render_form_violations(form, '__other__') }}

	<form name="record-form" id="record-form" method="post" action="">
		{{ render_form_csrf_token(form) }}

		<fieldset>
			<div class="form-group row">
				<label class="col-lg-2 control-label"><i class="glyphicon glyphicon-th-large"></i> Host</label>
				<div class="col-lg-6">
					<a href="{{ path('devture_nagios.host.view', {'id': entity.host.id}) }}">
						<img src="//www.google.com/s2/favicons?domain={{ entity.host.address }}" alt="" />
						{{ entity.host.name }}
					</a>
					({{ entity.host.address }})
				</div>
			</div>

			<div class="form-group row">
				<label class="col-lg-2 control-label">Identifier</label>
				<div class="col-lg-10">
					<input type="text" name="name" id="name"
						class="form-control"
						required="required"
						value="{{ entity.name }}" />
					{{ render_form_violations(form, 'name') }}
				</div>
			</div>

			<div class="form-group row">
				<label class="col-lg-2 control-label">Status</label>
				<div class="col-lg-10">
					<label class="radio-inline">
						<input type="radio" name="enabled" value="1" {{ entity.enabled ? 'checked="checked"' : '' }} />
						Enabled
					</label>

					<label class="radio-inline">
						<input type="radio" name="enabled" value="0" {{ not entity.enabled ? 'checked="checked"' : '' }} />
						Disabled
					</label>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-lg-2 control-label"><i class="glyphicon glyphicon-cog"></i> Command</label>
				<div class="col-lg-10">
					<fieldset>
						<div class="form-group row">
							<label class="col-lg-2 control-label">Command</label>
							<div class="col-lg-10">
								<a href="{{ path('devture_nagios.command.edit', {'id': entity.command.id}) }}">
									{{ entity.command.name }} / {{ entity.command.title }}
								</a>
								<pre class="top-spaced-minor" style="padding: 2px;"
									><code>{{ entity.command.line }}</code></pre>
								{{ render_form_violations(form, 'command') }}
							</div>
						</div>
						{% for argument in entity.command.arguments %}
							<div class="form-group row">
								<label class="col-lg-2 control-label">$ARG{{ loop.index }}$</label>
								<div class="col-lg-10">
									{% set command_argument = entity.getArgumentById(argument.id) %}
									<strong>{{ argument.description }}</strong>:
									<br />
									<textarea name="arguments[{{ argument.id }}][value]"
										class="form-control"
										style="height: 20px;"
										>{{ command_argument is not none ? command_argument.value : argument.defaultValue }}</textarea>
								</div>
							</div>
						{% endfor %}
						{{ render_form_violations(form, 'arguments') }}
					</fieldset>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-lg-2 control-label"><i class="glyphicon glyphicon-check"></i> Checks</label>
				<div class="col-lg-10">
					<fieldset>
						<div class="form-group row">
							<label class="col-lg-2 control-label">Check Interval</label>
							<div class="col-lg-10">
								<div class="input-group col-lg-3">
									<input type="number" min="1" class="form-control"
										name="checkInterval" id="checkInterval"
										required="required"
										value="{{ entity.checkInterval }}" />
									<span class="input-group-addon">minutes</span>
								</div>
								<p class="help-block">
									How often to re-check the service when it's OK.
								</p>
								{{ render_form_violations(form, 'checkInterval') }}
							</div>
						</div>

						<div class="form-group row">
							<label class="col-lg-2 control-label">Retry Interval</label>
							<div class="col-lg-10">
								<div class="input-group col-lg-3">
									<input type="number" min="1" class="form-control"
										name="retryInterval" id="retryInterval"
										required="required"
										value="{{ entity.retryInterval }}" />
									<span class="input-group-addon">minutes</span>
								</div>
								<p class="help-block">
									How often to re-check the service when it's starting to fail,
									until the failure is confirmed.
								</p>
								{{ render_form_violations(form, 'retryInterval') }}
							</div>
						</div>

						<div class="form-group row">
							<label class="col-lg-2 control-label">Max Check Attempts</label>
							<div class="col-lg-10">
								<div class="input-group col-lg-3">
									<input type="number" min="1" class="form-control"
										name="maxCheckAttempts" id="maxCheckAttempts"
										required="required"
										value="{{ entity.maxCheckAttempts }}" />
									<span class="input-group-addon">times</span>
								</div>
								<p class="help-block">
									Number of retries, before failure is confirmed and notifications get sent.
								</p>
								{{ render_form_violations(form, 'maxCheckAttempts') }}
							</div>
						</div>
					</fieldset>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-lg-2 control-label"><i class="glyphicon glyphicon-share"></i> Notifications</label>
				<div class="col-lg-10">
					<fieldset>
						<div class="form-group row">
							<label class="col-lg-2 control-label">Interval</label>
							<div class="col-lg-10">
								<div class="input-group col-lg-3">
									<input type="number" name="notificationInterval" id="notificationInterval"
										class="form-control"
										required="required"
										value="{{ entity.notificationInterval }}" />
									<span class="input-group-addon">minutes</span>
								</div>
								<p class="help-block">
									How often to re-send notifications.
								</p>
								{{ render_form_violations(form, 'notificationInterval') }}
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 control-label"><i class="glyphicon glyphicon-user"></i> People to Notify</label>
							<div class="col-lg-10">
								<select name="contactsIds[]" id="contactsIds"
									multiple="multiple" class="js-chosen-select"
									data-placeholder="Choose some contacts.."
									style="width: 100%;">
								{% for contact in contacts %}
									<option value="{{ contact.id }}"
										{{ contact in entity.contacts ? 'selected="selected"' : '' }}>{{ contact.name }}</option>
								{% endfor %}
								</select>
							</div>
						</div>
					</fieldset>
				</div>
			</div>

			<div class="col-lg-offset-2 col-xs-offset-0">
				<button type="submit" class="btn btn-primary">
					Save
				</button>

				{% if isAdded %}
				<button class="btn btn-danger" style="margin-left: 50px;" id="form-delete-btn">
					Delete
				</button>
				{% endif %}
			</div>
		</fieldset>
	</form>
{% endblock %}

{% block js %}
	{{ parent() }}

	{% if isAdded %}
	$('#form-delete-btn').click('click', function () {
		if (confirm('Are you sure you want to delete this?')) {
			$.ajax({
				"url": {{ path('devture_nagios.service.delete', {'id': entity.id, 'token': csrf_token('delete-service-' ~ entity.id)})|json_encode|raw }},
				"type": "POST",
				"dataType": "json",
				"success": function (response) {
					if (response.ok) {
						window.location = {{ path('devture_nagios.service.manage')|json_encode|raw }};
					} else {
						alert("There was a problem. Refresh and retry.");
					}
				}
			});
		}
		return false;
	});
	{% endif %}
{% endblock %}
