{% extends 'DevtureNagiosBundle/layout.html.twig' %}

{% import 'DevtureNagiosBundle/macros.html.twig' as macros %}

{% macro service_detailed_status(entity, status) %}
	{% import 'DevtureNagiosBundle/macros.html.twig' as macros %}

	{% set status = devture_nagios_get_service_status(entity) %}

	{% if status is none %}
		-- There is no information about this service --
	{% else %}
		<div class="form-horizontal">
			<fieldset>
				<div class="control-group">
					<label class="control-label"><i class="icon-signal"></i> Status</label>
					<div class="controls">
						<div style="width: 100px; display: inline-block;">
							{{ macros.service_status(status) }}
						</div>
						{% if status.checked %}
							{% if status.currentState == status.lastHardState %}

								since {{ macros.relative_time(status.lastHardStateChangeTime) }} ago
							{% else %}
								changing since {{ macros.relative_time(status.lastStateChangeTime) }} ago
							{% endif %}

							{% if status.currentStateHuman != 'ok' %}
								(attempt {{ status.currentAttempt }}/{{ status.maxAttempts }})
							{% endif %}
						{% endif %}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"><i class="icon-flag"></i> Check Result</label>
					<div class="controls clearfix">
						{{ status.pluginOutput }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"><i class="icon-tasks"></i> Performance data</label>
					<div class="controls clearfix">
						{{ status.performanceData }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"><i class="icon-chevron-left"></i> Last Check</label>
					<div class="controls">
						{% if status.lastCheckTime == 0 %}
							Never
						{% else %}
							{{ macros.relative_time(status.lastCheckTime) }} ago
						{% endif %}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"><i class="icon-chevron-right"></i> Next Check</label>
					<div class="controls clearfix">
						<div class="pull-right" style="width: 250px;">
							<a class="btn pull-right" href="javascript://" id="js-btn-service-check-schedule">
								<i class="icon-refresh"></i>
								check now
							</a>
							<div class="progress progress-striped hide" id="js-progress-service-check-schedule">
								<div class="bar" style="width: 0;"></div>
							</div>
						</div>
						in {{ macros.relative_time(status.nextCheckTime) }}
					</div>
				</div>
			</fieldset>
		</div>
	{% endif %}
{% endmacro %}

{% block devture_nagios_content %}
	{% include 'DevtureNagiosBundle/service/toolbar.html.twig' with {'entity': entity, 'currentSection': 'status'} only %}

	<div class="form-horizontal">
		<fieldset>
			<div class="control-group">
				<label class="control-label"><i class="icon-th-large"></i> Host</label>
				<div class="controls">
					<a href="{{ path('devture_nagios.host.edit', {'id': entity.host.id}) }}">
						{{ entity.host.name }}
					</a>
					({{ entity.host.address }})
				</div>
			</div>

			<div class="control-group">
				<label class="control-label"><i class="icon-signal"></i> Service</label>
				<div class="controls clearfix">
					{{ entity.name }}
					{% if not entity.enabled %}
						<strong>(disabled)</strong>
					{% endif %}
				</div>
			</div>

			<div class="control-group">
				<label class="control-label"><i class="icon-user"></i> Users to notify</label>
				<div class="controls clearfix">
				{% for contact in entity.contacts %}
					<span class="label label-nagadmin label-info"
						style="background-color: {{ contact.name|devture_nagios_colorize }};">{{ contact.name }}</span>
				{% endfor %}
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Status</label>
				<div class="controls">
					{{ _self.service_detailed_status(entity) }}
				</div>
			</div>
		</fieldset>
	</div>
{% endblock %}

{% block js %}
	{{ parent() }}

	(function () {
		var $button = $('#js-btn-service-check-schedule'),
			$progress = $('#js-progress-service-check-schedule');

		{#
			Scheduling and performing a check takes time:
				- Nagios polls for new command submissions every 1 second (at best)
				- The check takes some time (< 1-2 seconds in most cases)
				- Nagios updates the status file with results every 10 seconds (default value)
			So we need to delay the user for a while, by showing fake progress messages.
		#}
		var waitingTime = 15000;

		$button.click(function () {
			if ($button.attr('disabled')) {
				return;
			}

			$button.attr('disabled', true);
			$button.text('scheduling a check..');

			$.ajax({
				"url": {{ path('devture_nagios.service.schedule_check', {'id': entity.id, 'token': csrf_token('schedule-service-check-' ~ entity.id)})|json_encode|raw }},
				"type": "POST",
				"dataType": "json",
				"success": function (response) {
					if (response.ok) {
						$button.remove();
						$progress.removeClass('hide');

						var steps = 45,
							stepTime = (waitingTime / steps);

						for (var i = 1; i <= steps; ++i) {
							(function (currentStep) {
								window.setTimeout(function () {
									if (currentStep === steps) {
										window.location.reload();
									}
									$button.text(currentStep);
									$progress.find('.bar').css('width', ((currentStep/steps) * 100) + '%');
								}, (currentStep * stepTime));
							})(i);
						}
					} else {
						alert("There was a problem. Refresh and retry.");
					}
				}
			});
		});
	})();
{% endblock %}
