{% extends 'DevtureNagiosBundle/layout.html.twig' %}

{% import 'DevtureNagiosBundle/macros.html.twig' as macros %}

{% macro render_command_picker(field_name, commands, selected_command) %}
	<select name="{{ field_name }}" id="{{ field_name }}" class="form-control js-command-chooser" required="required">
		<option value="">-- Pick one --</option>
	{% for command in commands %}
		<option value="{{ command.id }}"
			data-command-line="{{ command.line }}"
			{{ selected_command is not none and selected_command.id == command.id ? 'selected="selected"' : '' }}
			>{{ command.title }}</option>
	{% endfor %}
	</select>
	<div class="js-command-preview top-spaced-minor hide"><pre></pre></div>
{% endmacro %}

{% block devture_nagios_content %}
	{{ render_form_violations(form, '__other__') }}

	<form name="record-form" id="record-form" method="post" action="">
		{{ render_form_csrf_token(form) }}

		<fieldset>
			<div class="form-group row">
				<label class="col-lg-2 control-label">Identifier</label>
				<div class="col-lg-6">
					<input type="text" name="name" id="name"
						class="form-control"
						required="required"
						value="{{ entity.name }}" />
					{{ render_form_violations(form, 'name') }}
				</div>
			</div>

			<div class="form-group row">
				<label class="col-lg-2 control-label">Associated with</label>
				<div class="col-lg-6">
					{% set selected_user = entity.user %}
					<select name="userId" class="form-control">
						<option value="">-- Choose one or leave empty --</option>
					{% for user in users %}
						<option value="{{ user.id }}"
							{{ selected_user == user ? 'selected="selected"' : '' }}
							>{{ user.name }} ({{ user.username }})</option>
					{% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-lg-2 control-label"><i class="glyphicon glyphicon-envelope"></i> Email</label>
				<div class="col-lg-6">
					<input type="text" name="email" id="email"
						class="form-control"
						value="{{ entity.email }}" />
					<span class="help-inline">(ends up in the $CONTACTEMAIL$ macro)</span>
					{{ render_form_violations(form, 'email') }}
				</div>
			</div>

			<div class="form-group row">
				<label class="col-lg-2 control-label">Avatar</label>
				<div class="col-lg-6">
					{% if isAdded %}
						<div ng-app-lazy="nagadminApp" ng-init='contact_{{ entity.id }} = {{ entity|contact_api_model_export|json_encode|raw }}'>
							<contact entity='contact_{{ entity.id }}' size="48"></contact>
						</div>
					{% endif %}
					Contacts get their own <a target="_blank" href="http://gravatar.com/">Gravatar</a> based on their email address or other address values.
				</div>
			</div>

			<div class="form-group row">
				<label class="col-lg-2 control-label">Addresses</label>
				<div class="col-lg-6">
					<p class="help-block">
						You can enter some additional address values
						if notification commands require them.
					</p>
					<fieldset class="top-spaced-minor">
					{% for _ in range(0, addressSlotsCount - 1) %}
						{% set slot = loop.index %}
						{% set address = entity.getAddressBySlot(slot) %}
						<div class="form-group row {{ loop.last ? 'last' : '' }}">
							<label class="col-lg-3 control-label">Address {{ slot }}</label>
							<div class="col-lg-9">
								<input type="text" name="addresses[{{ slot }}]"
									value="{{ address }}" class="form-control" />
								<span class="help-inline">(ends up in the $CONTACTADDRESS{{ slot }}$ macro)</span>
							</div>
						</div>
					{% endfor %}
					</fieldset>
					{{ render_form_violations(form, 'addresses') }}
				</div>
			</div>

			<div class="form-group row">
				<label class="col-lg-2 control-label"><i class="glyphicon glyphicon-share"></i> Notifications</label>
				<div class="col-lg-10">
					<fieldset>
						<div class="form-group row">
							<label class="col-lg-2 control-label"><i class="glyphicon glyphicon-cog"></i> Command</label>
							<div class="col-lg-8">
								{{ _self.render_command_picker('serviceNotificationCommandId', notificationCommands, entity.serviceNotificationCommand) }}
								{{ render_form_violations(form, 'serviceNotificationCommand') }}
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 control-label"><i class="glyphicon glyphicon-time"></i> Period</label>
							<div class="col-lg-8">
								{% set selected_period = entity.timePeriod %}
								<select name="timePeriodId" id="timePeriodId" class="form-control" required="required">
								{% for time_period in timePeriods %}
									<option value="{{ time_period.id }}"
										{{ selected_period is not none and selected_period.id == time_period.id ? 'selected="selected"' : '' }}
										>{{ time_period.title }}</option>
								{% endfor %}
								</select>

								{% for time_period in timePeriods %}
								<div class="js-time-period-preview hide" data-id="{{ time_period.id }}">
									<div class="top-spaced-minor"></div>
									{% include 'DevtureNagiosBundle/time_period/rules_table.html.twig' with {'rules': time_period.rules} %}
								</div>
								{% endfor %}
								{{ render_form_violations(form, 'timePeriod') }}
							</div>
						</div>
					</fieldset>
				</div>
			</div>

			<div class="col-lg-offset-2 col-xs-offset-0">
				<button type="submit" class="btn btn-primary">
					Save
				</button>

				{% if isAdded %}
				<button class="btn btn-danger" style="margin-left: 50px;" id="form-delete-btn">
					Delete
				</button>
				{% endif %}
			</div>
		</fieldset>
	</form>
{% endblock %}

{% block js %}
	{{ parent() }}

	{% if isAdded %}
	$('#form-delete-btn').click('click', function () {
		if (confirm('Are you sure you want to delete this?')) {
			$.ajax({
				"url": {{ path('devture_nagios.contact.delete', {'id': entity.id, 'token': csrf_token('delete-contact-' ~ entity.id)})|json_encode|raw }},
				"type": "POST",
				"dataType": "json",
				"success": function (response) {
					if (response.ok) {
						window.location = {{ path('devture_nagios.contact.manage')|json_encode|raw }};
					} else {
						alert("There was a problem. Refresh and retry.");
					}
				}
			});
		}
		return false;
	});
	{% endif %}

	$('#timePeriodId').change(function () {
		var selectedTimePeriodId = $(this).val();
		$('.js-time-period-preview').addClass('hide');
		$.each($('.js-time-period-preview'), function () {
			if ($(this).data('id') == selectedTimePeriodId) {
				$(this).removeClass('hide');
				return false;
			}
		});
	}).trigger('change');

	$('.js-command-chooser').change(function () {
		var $previewContainer = $(this).parent().find('.js-command-preview');
		if ($(this).val() === '') {
			$previewContainer.addClass('hide');
		} else {
			$previewContainer.find('pre').text($(this).find('option').filter(':selected').data('command-line'));
			$previewContainer.removeClass('hide');
		}
	}).trigger('change');
{% endblock %}
