{% extends '@DevtureNagios/nagios_layout.html.twig' %}

{% block title %}Resource Variables / {{ parent() }}{% endblock %}

{% block devture_nagios_content %}
	<div class="alert alert-info">
		These <a target="_blank" href="https://assets.nagios.com/downloads/nagioscore/docs/nagioscore/4/en/configmain.html#resource_file"
			><strong>resource file</strong></a> macros are typically used in
		<a target="_blank" href="{{ path('devture_nagios.command.manage') }}"><strong>commands definitions</strong></a>
		to avoid hardcoding paths and passwords.
	</div>

	{{ render_form_violations(form, '__other__') }}
	{{ render_form_violations(form, 'variables') }}

	<form name="record-form" id="record-form" method="post" action="">
		{{ render_form_csrf_token(form) }}

		<fieldset>
			{% for i in range(1, userVariablesCount) %}
				{% set variableName = '$USER' ~ i ~ '$' %}
				<div class="row mb-3">
					<label class="col-lg-2 col-form-label">{{ variableName }}</label>
					<div class="col-lg-10">
						<input type="text" name="variables[{{ variableName }}]"
							value="{{ entity.getVariableByName(variableName) }}"
							class="form-control" />
					</div>
				</div>
			{% endfor %}
		</fieldset>

		<div class="d-flex justify-content-between align-items-center">
			<button type="submit" class="btn btn-lg btn-primary">
				Save
			</button>
		</div>
	</form>
{% endblock %}
