<!doctype html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<title>{{ project_name }} / nagadmin</title>
	<link type="text/css" rel="stylesheet" href="{{ static_url('/css/bootstrap.min.css') }}" />
	<link type="text/css" rel="stylesheet" href="{{ static_url('/fontawesome/css/all.min.css') }}" />
	<link type="text/css" rel="stylesheet" href="{{ static_url('/css/style.css') }}" />
	{% endblock %}
</head>
<body>

{% if is_logged_in() %}
	{% set info_status = devture_nagios_get_info_status() %}
	{% set program_status = devture_nagios_get_program_status() %}
	{% set nagios_url = devture_nagios_get_nagios_url() %}
{% endif %}

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-nagadmin mb-3">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('devture_nagios.dashboard') }}">
			{{ project_name }}
		</a>
		<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
			aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar-collapse">
			{% include "@DevtureNagios/menu_bar.html.twig" %}
		</div>
	</div>
</nav>

<div id="content" class="container">
	{% block content %}{% endblock %}
</div>

<div id="footer" class="container clearfix">
	<hr />

	<div class="clearfix">
		<div class="float-start">
			&copy; {{ none|date('Y') }}
			<a href="http://devture.com/" target="_blank" title="Devture Ltd - developing your future">Devture Ltd</a>.
		</div>
	</div>
</div>

<script type="text/javascript" src="{{ static_url('/js/jquery-3.7.1.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('/js/bootstrap.bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('/js/comploader/comploader.js') }}"></script>
<script type="text/javascript" src="{{ static_url('/js/jquery.relative-time.js') }}"></script>

<script type="text/javascript">
	{% include '@DevtureNagios/comploader_components.js.twig' %}
</script>

<script type="text/javascript">
{% block js %}
	$('.js-tooltip').each(function () {
		new bootstrap.Tooltip(this);
	});

	$(function () {
		var $chosenSelects = $('.js-chosen-select');
		if ($chosenSelects.length > 0) {
			comploader.load("chosen", function () {
				$chosenSelects.chosen();
			});
		}

		$('.js-relative-time').relativeTime().each(function () {
			new bootstrap.Tooltip(this);
		});

		var $textareas = $('textarea');
		if ($textareas.length > 0) {
			comploader.load("jquery.autoresize", function () {
				$textareas.autoResize({"extraSpace": 10});
			});
		}
	});

	(function () {
		var lazyNgAppLoad = function () {
			$('[ng-app-lazy]').each(function () {
				var $appRoot = $(this),
					appName = $appRoot.attr('ng-app-lazy');

				if ($appRoot.data('bootstrapped')) {
					return;
				}
				$appRoot.data('bootstrapped', true);

				comploader.load(appName, function () {
					angular.bootstrap($appRoot, [appName]);
				});
			});
		};

		$(lazyNgAppLoad);
	})();
{% endblock %}
</script>

</body>
</html>
