{% macro service_label_class_from_state(state) %}
{% apply spaceless %}
	{% set map = {'ok': 'text-bg-success', 'warning': 'text-bg-warning', 'critical': 'text-bg-danger', 'unknown': 'text-bg-secondary'} %}
	{{ map[state] }}
{% endapply %}
{% endmacro %}

{% macro service_status(status) %}
	{% if status is none %}
		<div class="text-center badge text-bg-secondary" style="display: block;">
			missing
		</div>
	{% else %}
		{% if status.checked %}
			<div class="text-center badge {{ _self.service_label_class_from_state(status.currentStateHuman) }}"
				style="display: block;">
				{{ status.currentStateHuman }}
			</div>
		{% else %}
			<div class="text-center badge text-bg-secondary" style="display: block;">
				pending
			</div>
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro relative_time(timestamp) %}
{% apply spaceless %}
	<time class="js-relative-time" data-time="{{ timestamp * 1000 }}">
		{{ timestamp|date('d F, Y') }}
	</time>
{% endapply %}
{% endmacro %}
