{% macro menu_item(route, url, title, icon) %}
	<li class="{{ is_route_prefix(route) ? 'active' : '' }}">
		<a href="{{ url }}">
			{% if icon is not none %}
				<i class="{{ icon }}"></i>
			{% endif %}
			{{ title }}
		</a>
	</li>
{% endmacro %}

{% if is_logged_in() %}
	<ul class="nav navbar-nav">
		{{ _self.menu_item('devture_nagios.dashboard', path('devture_nagios.dashboard'), 'Dashboard', 'glyphicon glyphicon-home') }}

		{% if is_granted('ROLE_CONFIGURATION_MANAGEMENT') %}
			{{ _self.menu_item('devture_nagios.time_period.', path('devture_nagios.time_period.manage'), 'Time Periods', 'glyphicon glyphicon-time') }}

			{{ _self.menu_item('devture_nagios.command.', path('devture_nagios.command.manage'), 'Commands', 'glyphicon glyphicon-cog') }}
		{% endif %}

		{# Further sections (contacts, hosts, services, logs, resource variables,
		   configuration) are re-added here as their controllers/routes are ported. #}

		{% if is_granted('ROLE_DEVTURE_USER') %}
			{{ _self.menu_item('devture_user.', path('devture_user.manage'), 'Users', 'glyphicon glyphicon-user') }}
		{% endif %}
	</ul>

	<form class="navbar-form navbar-right" method="post" action="{{ path('devture_user.logout') }}">
		<button class="btn btn-default btn-sm">
			Log out
		</button>
	</form>
{% endif %}
