{% macro menu_item(route, url, title, icon) %}
	<li class="nav-item">
		<a class="nav-link {{ is_route_prefix(route) ? 'active' : '' }}" href="{{ url }}">
			{% if icon is not none %}
				<i class="{{ icon }}"></i>
			{% endif %}
			{{ title }}
		</a>
	</li>
{% endmacro %}

{% if is_logged_in() %}
	<ul class="navbar-nav me-auto">
		{{ _self.menu_item('devture_nagios.dashboard', path('devture_nagios.dashboard'), 'Dashboard', 'fa-solid fa-house') }}

		{% if is_granted('ROLE_CONFIGURATION_MANAGEMENT') %}
			{{ _self.menu_item('devture_nagios.host.', path('devture_nagios.host.manage'), 'Hosts', 'fa-solid fa-table-cells-large') }}

			{{ _self.menu_item('devture_nagios.time_period.', path('devture_nagios.time_period.manage'), 'Time Periods', 'fa-solid fa-clock') }}

			{{ _self.menu_item('devture_nagios.command.', path('devture_nagios.command.manage'), 'Commands', 'fa-solid fa-gear') }}
		{% endif %}

		{{ _self.menu_item('devture_nagios.contact.', path('devture_nagios.contact.manage'), 'Contacts', 'fa-solid fa-user') }}

		{{ _self.menu_item('devture_nagios.service.', path('devture_nagios.service.manage'), 'Services', 'fa-solid fa-signal') }}

		{{ _self.menu_item('devture_nagios.log.', path('devture_nagios.log.manage'), 'Logs', 'fa-solid fa-book') }}

		{% if is_granted('ROLE_SENSITIVE') %}
			{{ _self.menu_item('devture_nagios.resource.', path('devture_nagios.resource.manage'), 'Resource Variables', 'fa-solid fa-wrench') }}

			{{ _self.menu_item('devture_nagios.configuration.', path('devture_nagios.configuration.test'), 'Configuration', 'fa-solid fa-retweet') }}
		{% endif %}

		{% if is_granted('ROLE_DEVTURE_USER') %}
			{{ _self.menu_item('devture_user.', path('devture_user.manage'), 'Users', 'fa-solid fa-user') }}
		{% endif %}
	</ul>

	<form class="d-flex" method="post" action="{{ path('devture_user.logout') }}">
		<button class="btn btn-secondary btn-sm">
			Log out
		</button>
	</form>
{% endif %}
