{% extends 'DevtureNagiosBundle/layout.html.twig' %}

{% block devture_nagios_content %}
	<div class="alert alert-info">
		These <a target="_blank" href="http://nagios.sourceforge.net/docs/3_0/configmain.html#resource_file"
			><strong>resource file</strong></a> macros are typically used in
		<a target="_blank" href="{{ path('devture_nagios.command.manage') }}"><strong>commands definitions</strong></a>
		to avoid hardcoding paths and passwords.
	</div>

	{{ render_form_violations(form, '__other__') }}
	{{ render_form_violations(form, 'variables') }}

	<form name="record-form" id="record-form" method="post" action="">
		{{ form_csrf_token(form) }}

		<fieldset>
			{% for i in range(1, userVariablesCount) %}
				{% set variableName = '$USER' ~ i ~ '$' %}
				<div class="form-group row">
					<label class="col-lg-2 control-label">{{ variableName }}</label>
					<div class="col-lg-6">
						<input type="text" name="variables[{{ variableName }}]"
							value="{{ entity.getVariableByName(variableName) }}"
							class="form-control" />
					</div>
				</div>
			{% endfor %}
		</fieldset>

		<div class="col-lg-offset-2 col-xs-offset-0">
			<button type="submit" class="btn btn-primary">
				Save
			</button>
		</div>
	</form>
{% endblock %}