{% if items|length == 0 %}
	No users.
{% else %}
	<table class="table table-bordered table-striped table-condensed">
		<thead>
			<tr>
				<th>Username</th>
				<th class="d-none d-sm-table-cell">Email</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
		{% for entity in items %}
			{% set link = path('devture_user.edit', {'id': entity.id}) %}
			<tr>
				<td>
					<a href="{{ link }}" class="d-block">
						<strong>{{ entity.username }}</strong>
					</a>
				</td>
				<td class="d-none d-sm-table-cell">
					<a href="{{ link }}" class="d-block">
						{{ entity.email }}
					</a>
				</td>
				<td>
					<a href="{{ link }}" class="d-block">
						{{ entity.name }}
					</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}
