{% extends layout %}

{% block title %}{{ isAdded ? 'Edit user: ' ~ entity.username : 'Add user' }} / {{ parent() }}{% endblock %}

{% block content %}
	{{ render_form_violations(form, '__other__') }}

	<form name="record-form" id="record-form" method="post" action="" role="form">
		{{ render_form_csrf_token(form) }}

		<fieldset>
			{% block devture_user_row_username %}
			<div class="row mb-3">
				<label class="col-lg-2 col-form-label">Username</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" name="username" id="username" value="{{ entity.username }}" />
					{{ render_form_violations(form, 'username') }}
				</div>
			</div>
			{% endblock %}

			{% block devture_user_row_email %}
			<div class="row mb-3">
				<label class="col-lg-2 col-form-label"><i class="fa-solid fa-envelope"></i> Email</label>
				<div class="col-lg-10">
					<input type="email" class="form-control" name="email" id="email" value="{{ entity.email }}" />
					{{ render_form_violations(form, 'email') }}
				</div>
			</div>
			{% endblock %}

			{% block devture_user_row_name %}
			<div class="row mb-3">
				<label class="col-lg-2 col-form-label">Name</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" name="name" id="name" value="{{ entity.name }}" />
					{{ render_form_violations(form, 'name') }}
				</div>
			</div>
			{% endblock %}

			{% block devture_user_row_password %}
			<div class="row mb-3">
				<label class="col-lg-2 col-form-label">Password</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" name="password" id="password" autocomplete="off" />
					{% if isAdded %}
					<p class="form-text">Or leave empty to preserve the old one.</p>
					{% endif %}
					{{ render_form_violations(form, 'password') }}
				</div>
			</div>
			{% endblock %}

			{% block devture_user_row_roles %}
			{% if roles|length != 0 %}
			<div class="row mb-3">
				<label class="col-lg-2 col-form-label">Privileges</label>
				<div class="col-lg-10">
					{% for role, title in roles %}
						{% set hasRole = entity.hasRole(role) %}
						{% set class = (role == 'all' ? 'fbold' : 'js-cbx-role') %}
						<div class="form-check {{ class }}">
							<input class="form-check-input" type="checkbox" name="roles[]" id="role_{{ role }}"
								value="{{ role }}"
								{{ hasRole ? 'checked="checked"' : '' }} />
							<label class="form-check-label" for="role_{{ role }}">{{ title }}</label>
						</div>
					{% endfor %}
					{{ render_form_violations(form, 'roles') }}
				</div>
			</div>
			{% endif %}
			{% endblock %}

			<div class="d-flex justify-content-between align-items-center">
				<button type="submit" class="btn btn-lg btn-primary">
					Save
				</button>

				{% if isAdded %}
				<button class="btn btn-outline-danger btn-sm" id="form-delete-btn">
					Delete
				</button>
				{% endif %}
			</div>
		</fieldset>
	</form>
{% endblock %}

{% block js %}
	{{ parent() }}

	{% if isAdded %}
	$('#form-delete-btn').bind('click', function () {
		if (confirm({{ "Delete user?"|json_encode|raw }})) {
			$.ajax({
				"url": {{ path('devture_user.delete', {'id': entity.id, 'token': csrf_token('delete-user-' ~ entity.id)})|json_encode|raw }},
				"type": "POST",
				"dataType": "json",
				"success": function (response) {
					if (response.ok) {
						window.location = {{ path('devture_user.manage')|json_encode|raw }};
					} else {
						alert("There was a problem. Refresh and retry.");
					}
				}
			});
		}
		return false;
	});
	{% endif %}

	$('#role_all').change(function () {
		if ($(this).is(':checked')) {
			$('.js-cbx-role input[type=checkbox]').attr('checked', false).attr('disabled', true);
		} else {
			$('.js-cbx-role input[type=checkbox]').attr('disabled', false);
		}
	}).trigger('change');

	{% if not isAdded %}
		$('#username').focus();
	{% endif %}
{% endblock %}
